
body{
    margin: 0;
    background-color: var(--background);
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
}
.every-science{
    margin: 0;
    background-image: url(images/etoile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
    letter-spacing: 0em;
}
.every-dream{
    margin: 0;
    background-color: #311736;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
    letter-spacing: 0em;

}
:root{
    --primary: #fdb230;
    --secondary: #5c3987;
    --background:#0a144c;
    --blue:#349ec7;
    --light: #fff;
    --dark:#0a0a0a;
    --rose:#d72d59;
    --main-font:'Sleep Night', sans-serif;
    --secondary-font: 'Barlow', sans-serif;
    --sidePadding: 12%;
}


.main-nav{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    z-index: 300;
    background-color: var(--primary);
    padding:1em 0 ;
}

.logo{
    padding-left: 1em;
    width: 7em;
}
.main-nav-elements{
    display: flex;
    margin: 0 0 0 auto;
    font-size:2em;  
    
}
.main-nav-element, .hover-element{
    list-style: none;
    text-transform: uppercase;
    margin: auto 1em;
    font-weight: 700;
}
.main-nav-element > a{
    color: var(--light);
    text-decoration: none;
    padding: 1em 0;
    
}
.main-nav-element:first-child > a{
    color: var(--blue);
}
.main-nav-element:last-child > a{
    margin-right:0.5em
}
.main-nav-element:hover > a, .hover-element:hover > a {
    color:var(--blue);
}
.main{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/bebe.png);
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.main-dream{
    background-size: cover;
    background-image: url(images/dream.png);
    background-repeat: no-repeat;
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.main-medicine{
    background-size: cover;
    background: url(images/istockphoto-1264153565-612x612.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    image-rendering: pixelated;
}
.btn1{
    background-color: var(--primary);
    border: none;
    color:var(--light);
    padding: 0.5em 1em;
    border-radius:30px ;
    font-family: var(--main-font);
    font-size: 3em;
    margin-bottom: 1em;
    cursor: pointer;
}
.btn2{
    background-color: #951d5100;
    border: solid var(--blue) 2PX;
    border-radius: 1em;
    color:var(--light);
    padding: 0.5em 1em;
    margin-top: 1em;
    font-family: var(--main-font);
    font-size: 3em;
    cursor: pointer;
}

.btn2 > a {
    text-decoration: none;
    color: var(--light);
}
.btn1 > a {
    text-decoration: none;
    color: var(--light);
}
.btn1:hover{
background-color: var(--blue);
}
.title{
    color:var(--light);
    margin:5.5em 0 0em 0;
    font-size: 7em;
}
.title-dream{
    display:flex;
    justify-content: center;
    color:#dadae8;
    margin:0.5em 0 1em 0;
    padding: 0.2em 0 0 0;
    font-size: 7em;
    text-decoration: underline overline var(--rose);
}
.sub-title{
    color:var(--light);
    font-size: 3em;
    
}
.content{
 color:var(--light);   
 margin: 4em;
 background: #349dc763;
}
.div-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5em;
}

.div-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-text{
    font-size: 3em;
    margin: 1em 1em;
}
.section-title{
    font-size: 6em;
    margin: 0em 1em;
    color: var(--primary);
}
.section-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.article-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    border: solid var(--rose) 4px;
    border-radius: 2em;
}
.section-img{
    margin-left: 0;
}
.science
{
    color:var(--light);   
    margin:0;
    padding-left: 2em;
    width:80%;
    font-size: 2.5em;
}
.title1{
    display:flex;
    justify-content: center;
    color:var(--primary);
    margin:0;
    padding-top: 1em;
    font-size: 12em;
}
.article-title-dream{
    
    display: flex;
    justify-content: center;
    color: #2294ac;
    font-size: 3em;
    
   
}
.article-title{
    padding-left: 1em;
    color: #0ba3df;
}
.article-img{
    width: 50%;
    margin-left: 10em;
}
.article-img1{
    width: 60%;
    margin-left: 3em;
}
.article-img2{
    width: 50%;
    margin-top: 3em;
    margin-left: 3em;
}
p{
    margin: 0;
    padding-bottom: 1em;
}
.dream-text{
  margin-top: 1em;
}
.btntxt-dream{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 40%;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color: var(--primary);
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-image {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .container {
    padding: 2px 16px;
  }
  .short-disc{
      font-size: 2em ;
  }
  .med-name{
      font-size:4em;

  }
  .medicines{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 4em;
  }
  .medicines-final{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 4em;
  }
  .med-disc{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  #dream
  {
      color:var(--light);   
      margin:0;
      padding: 0em;
      width:80%;
      font-size: 2.5em;
  }
  .p-dream{
      padding-left: 1em;
      display: table;
      width: 100%;
      table-layout: fixed;
        
  }
  .col{
      display: table-cell;
      margin: 0;
    padding: 0%;
    
  }
  .p-dream > li {
      padding-left: 3em;
      text-decoration: none;
  }
  ul{
      list-style:square;
  
  }
  .footer-basic {
      padding:40px 0;
      background-color: var(--primary);
      color: var(--light);
    }
    
    .footer-basic ul {
      padding:0;
      list-style:none;
      text-align:center;
      font-size:3em;
      line-height:1.6;
      margin-bottom:0;
    }
    
    .footer-basic li {
      padding:0 10px;
    }
    
    .footer-basic ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }
    
    .footer-basic ul a:hover {
      opacity:1;
    }
    
    .footer-basic .social {
      text-align:center;
      padding-bottom:25px;
    }
    
    .footer-basic .social > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #ccc;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }
    
    .footer-basic .social > a:hover {
      opacity:0.9;
    }
    
    .footer-basic .copyright {
      margin-top:15px;
      text-align:center;
      font-size:2em;
      color: var(--blue);
      margin-bottom:0;
    }
    