
body{
    margin: 0;
    background-color: var(--background);
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
}
.every{
    margin: 0;
    background-image: url(images/etoile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
}
:root{
    --primary: #fdb130;
    --secondary: #5c3987;
    --background:#0a144c;
    --blue:#349ec7;
    --light: #fff;
    --dark:#0a0a0a;
    --main-font:'Sleep Night', sans-serif;
    --secondary-font: 'Barlow', sans-serif;
    --sidePadding: 12%;
}
#main-title{
    color: var(--light);
}

.main-nav{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
    z-index: 300;
    background-color: var(--primary);
    padding:1em 0 ;
}

.logo{
    padding-left: 1em;
    width: 7em;
}
.main-nav-elements{
    display: flex;
    margin: 0 0 0 auto;
    font-size:2em;  
    
}
.main-nav-element, .hover-element{
    list-style: none;
    text-transform: uppercase;
    margin: auto 1em;
    font-weight: 700;
}
.main-nav-element > a{
    color: var(--light);
    text-decoration: none;
    padding: 1em 0;
    
}
.main-nav-element:first-child > a{
    color: var(--blue);
}
.main-nav-element:last-child > a{
    margin-right:0.5em
}
.main-nav-element:hover > a, .hover-element:hover > a {
    color:var(--blue);
}
.main{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/bebe.png);
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.btn1{
    background-color: var(--primary);
    border: none;
    color:var(--light);
    padding: 0.5em 1em;
    border-radius:30px ;
    font-family: var(--main-font);
    font-size: 3em;
    margin-bottom: 1em;
}
.btn1 > a {
    text-decoration: none;
    color: var(--light);
}
.btn1:hover{
background-color: var(--blue);
}
.title{
     color:var(--light);
    margin:5.5em 0 0em 0;
    font-size: 7em;
}
.sub-title{
    color:var(--light);
    font-size: 3em;
    
}
.content{
 color:var(--light);   
 margin: 4em;
 background: #349dc763;
}
.div-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5em;
}

.div-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.section-text{
    font-size: 3em;
    margin: 1em 1em;
}
.section-title{
    font-size: 6em;
    margin: 0em 1em;
    color: var(--primary);
}
.section-content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.section-img{
    margin-left: 0;
}
.science
{
    color:var(--light);   
    margin:0;
    padding: 0 4em;
    width:80%;
    font-size: 2.5em;
}
.title1{
    display:flex;
    justify-content: center;
    color:var(--primary);
    margin:0;
    padding: 1em;
    font-size: 12em;
}
.article-title{
    padding-left: 1em;
    color: #0ba3df;
}
.article-img{
    width: 50%;
    margin-left: 10em;
}
p{
    margin: 0;
    padding-bottom: 1em;
}